| ---
| layout: default
| ---
| 
.container
  .section
    .row
      .col.s12
        .card.white.z-depth-0
          .card-content
            .card-title.center-align
              h2.thin.blue-text {{ page.title }}
            .divider
            br
            // Hide this on small screen
            article.grey-text.text-darken-2.post-content.hide-on-small-and-down
              | {{ content }}
        // Show this instead
        article.grey-text.text-darken-2.post.content.hide-on-med-and-up(style='padding-right:0px;padding-left:0px;box-shadow:0 0px 0px 0')
          | {{ content }}