| ---
| layout: default
| ---
| 
.container
  .section
    .row
      .col.s12
        .card.white.z-depth-0
          .card-content
            .card-title.center-align
              h2.thin.blue-text {{ page.title }}
            .divider
            br
            article.grey-text.text-darken-2.post-content
              | {{ content }}
