| ---
| layout: default
| ---
| 
.card.z-depth-0.no-margin
  .container
    .section
      .row
        .col.s12
          .card-content(style="padding:2px")
            .card-title.center-align
              h2.thin.blue-text {{ page.title }}
            h5.center-align.grey-text.text-darken-1.thin 
              | Published at {{ page.date | date: "%B %-d, %Y" }}
            br
            .divider
            br
            .center-align
              .chip.center-align
                | {% if page.language == 'id' %} 
                img.center-align(src="{{ '/assets/images/indonesia.svg' | prepend: site.baseurl }}" alt="Bahasa Indonesia" ) 
                |  Bahasa
                | {% elsif page.language == 'en' %} 
                img(src="{{ '/assets/images/united-states.svg' | prepend: site.baseurl }}" alt="English Language") 
                |  English
                | {% endif %}
            article.post-categories.center-align
              .chip.green.white-text Categories
              |                     {% for cat in page.categories %}
              .chip {{ cat }}
              |  {% endfor %}
            article.grey-text.text-darken-2.post-content
              | {{ content }}
            article.grey-text.text-darken-2
              | {% for cat in page.categories %}
              | {% if site.categories.[cat].size > 1 %}
              aside.related
                ul.collection.with-header
                  li.collection-header
                    h5.light
                      | Related posts in 
                      span.green-text {{ cat }}
                      |  category
                  |                             {% for post in site.categories.[cat] limit:5 %}
                  |                                 {% if post.title != page.title %}
                  a.collection-item.avatar(href='{{ post.url }}')
                    i.fa.fa-tag.circle.green
                    span.title.light {{ post.date | date: "%B %-d, %Y" }}
                    p.light {{ post.title }}
                  |                                 {% endif %}
                  |                             {% endfor %}
              |                         {% endif %}
              |                     {% endfor %}
            article.post-comment
              | {% include comments.html %}
