| ---
| layout: default
| sitemap: false
| permalink: /404.html
| ---
| 
.container
  h2.bold.blue-text Oops, Page not found :(
  p
    | Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. 
    a(href='{{site.baseurl}}') Head back home
    |  to try finding it again.
