| ---
| layout: default
| sitemap: false
| permalink: /thanks.html
| ---
| 
.container(style="padding-top:40vh;padding-bottom:50vh")
  h2.bold.blue-text Thank you!
  p You're message has been sent. Let's get back home shall we?
