---
layout: page
title: Archives
permalink: /archives/
---

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header center-align blue white-text">All posts
      {% assign counter = 0 %}
      {% for post in site.posts %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      ({{ counter }})
    </div>
    <div class="collapsible-body">

        <ul style="margin:12px 20px">
          {% for post in site.posts %}
          <li style="margin-bottom:8px;display:flex">

            <!-- Language + Date Chip on Medium & Up screen size -->
            <div class="chip hide-on-small-and-down" style="flex:initial;min-width:150px;margin-right:8px;">
              {% if post.language == 'id' %}
              <img src="{{ '/assets/images/indonesia.svg' | prepend: site.baseurl }}" alt="Bahasa Indonesia" style="vertical-align: middle;">
              {% elsif post.language == 'en' %} 
              <img src="{{ '/assets/images/united-states.svg' | prepend: site.baseurl }}" alt="English Language" style="vertical-align: middle;">
              {% endif %} 
              {{ post.date | date: "%-d %B %Y" }}
            </div>           

            <a href="{{ post.url }}" style="flex:10">
              {{ post.title }}
            </a>          
           
            <!-- Small date on small screen -->
            <div class="hide-on-med-and-up"
            style="font-size:xx-small;font-weight:bold;
                    margin-right:8px;align-self:center">
              {{ post.date | date: "%-d %B %Y" }}
            </div>

          </li>
          <hr style="border-style:solid;border-color:#f3f3f3"/>
          {% endfor %}
        </ul>

    </div>
  </li>

  {% for category in site.categories %}
  <li>
    <div class="collapsible-header center-align">{{ category | first }}
      {% assign counter = 0 %}
      {% for posts in category %} {% for post in posts %} {% if post.url %}
      {% assign counter = counter | plus: 1 %}
      {% endif %} {% endfor %} {% endfor %}
      ({{ counter }})
    </div>
    <div class="collapsible-body">

        <ul style="margin:12px 20px">
          {% for posts in category %} 
          {% for post in posts %} 
          {% if post.url %}
          <li style="margin-bottom:8px;display:flex">
           
            <!-- Language + Date Chip on Medium & Up screen size -->            
            <div class="chip hide-on-small-and-down" style="flex:initial;min-width:150px;margin-right:8px;">
              {% if post.language == 'id' %}
              <img src="{{ '/assets/images/indonesia.svg' | prepend: site.baseurl }}" alt="Bahasa Indonesia" style="vertical-align: middle;">
              {% elsif post.language == 'en' %} 
              <img src="{{ '/assets/images/united-states.svg' | prepend: site.baseurl }}" alt="English Language" style="vertical-align: middle;">
              {% endif %} 
              {{ post.date | date: "%-d %B %Y" }}
            </div>
        
            <a href="{{ post.url }}" style="flex:10">
              {{ post.title }}
            </a>          
           
            <!-- Small date on small screen -->            
            <div class="hide-on-med-and-up"
            style="font-size:xx-small;font-weight:bold;
                    margin-right:8px;align-self:center">
              {{ post.date | date: "%-d %B %Y" }}
            </div>

          </li>
          <hr style="border-style:solid;border-color:#f3f3f3"/>
          {% endif %} 
          {% endfor %} 
          {% endfor %}
        </ul>
    </div>
  </li>
  {% endfor %}
</ul>
