---
layout: page
title: Archives
permalink: /archives/
---

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header center-align blue white-text">All posts
      {% assign counter = 0 %}
      {% for post in site.posts %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      ({{ counter }})
    </div>
    <div class="collapsible-body">

        <ul style="margin:12px 20px">
          {% for post in site.posts %}
          <li style="margin-bottom:8px;"><div class="chip">{{ post.date | date: "%-d %B %Y" }}</div>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
          {% endfor %}
        </ul>

    </div>
  </li>

  {% for category in site.categories %}
  <li>
    <div class="collapsible-header center-align">{{ category | first }}
      {% assign counter = 0 %}
      {% for posts in category %} {% for post in posts %} {% if post.url %}
      {% assign counter = counter | plus: 1 %}
      {% endif %} {% endfor %} {% endfor %}
      ({{ counter }})
    </div>
    <div class="collapsible-body">

        <ul style="margin:12px 20px">
          {% for posts in category %} {% for post in posts %} {% if post.url %}
          <li style="margin-bottom:8px"><div class="chip">{{ post.date | date: "%-d %B %Y" }}</div>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
          {% endif %} {% endfor %} {% endfor %}
        </ul>
  </div>
  </li>
{% endfor %}
</ul>
