// ---
// Transform Sass into css
// ---
@import "assets/css/_sass/bourbon/bourbon";
@import "assets/css/_sass/normalize";
@import "assets/css/_sass/materialize";
@import "assets/css/_sass/fontawesome";
@import "assets/css/_sass/pygments";
@import "assets/css/_sass/pygments_monokai";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
.container-front {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.content{
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media #{$small-and-down} {
  .content{
    margin-bottom: 308px;
  }
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
  .container-front{
    width: 75%;
  }
  .content{
    margin-bottom: 308px;
  }

}
@media #{$large-and-up} {
  .container {
    width: 80%;
  }
  .container-front{
    width: 65%;
  }
  .content{
    margin-bottom: 206px;
  }
}
.no-margin {
    margin: 0;
    &.__top {
        margin-top: 0;
    }
    &.__bottom {
        margin-bottom: 0;
    }
    &.__left {
        margin-left: 0;
    }
    &.__right {
        margin-right: 0;
    }
}
.divider {
  background: transparent;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
  &.dashed {
    border-bottom: 8px dashed #A9A9A9;
    transform: scale(1,0.1);
    width: 50%;
    margin: auto;
  }
}
.group-article .row:last-child .divider{
  display: block;
}
.card {
    border-radius: 0;
}
nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}
article {
    padding: 10px;
    font-size: 14pt;
    line-height: 1.7;
    font-weight: 300;
    &.post-content {
      ul {
          margin-left: 20px;
          li{
            list-style-type: disc;
          }
      }
      ul.collapsible {
          margin-left: 20px;
          li{
            list-style-type: none;
          }
      }
      h1, h2, h3, h4, h5, h6 {
          font-weight: 200;
      }
      // li {
      //   list-style-type: disc;
      // }
      &.on-index {
        padding:0;
        font-size: 17px;
        line-height: 1.5;
      }
    }
}
.list-article {
  padding: 20px;
}

footer.page-footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.003em;
 }

li.view-on-github{
  background-color: #2196F3;
  background: #2196F3;
  a {
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    color: white;
  }
  i {
    color:white;
    margin-left: 8px;
  }
}

.catbloc:not(:target) {
    display: none;
}

ul.collapsible{
  li{
    list-style-type: none;
  }
}

header {
  z-index: 998;
}

// WARNA LABEL FORM
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #2196f3;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #2196f3;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
   }
   /* label focus color */
   .input-field textarea[type=text]:focus + label {
     color: #2196f3;
   }
   /* label underline focus color */
   .input-field textarea[type=text]:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196f3;}

// Warna TOC
.table-of-contents a.active {
    border-left: 2px solid #2196f3;
}
.table-of-contents a:hover {
    border-left: 1px solid #2196f3;
}

.highlight:before {
  content:"Code\a0\bb\a0" attr(data-lang) ;
  // content:"Code\a0\bb";
  padding: 1px 10px;
  font-size: 12px;
  margin-top: 10px
}

code {
  padding: 1px 8px;
  table {
    width: 0;
  }
}

figure.highlight{
  margin: 1em 0px;
}

.highlight pre{
  font-size: 12pt;
  line-height: 18px;
  padding: 2px 4px;
  margin-bottom: 2px;
  // white-space: pre-wrap;

}

// plain highlight text color 
.highlight code{
  color:#ccc;
}

/** LIGHTBOX Perfundo **/

$perfundo-namespace: 'perfundo' !default;
$perfundo-background-color: rgba(#000, 0.9) !default;
$perfundo-color: #fff !default;
$perfundo-control-use-icons: false !default;
$perfundo-html-padding: 2em !default;
$perfundo-html-max-width: 42em !default;
$perfundo-html-background-color: #fff !default;

/**
 * 1. Make the overlay full width and height.
 * 2. Center direct children horizontally and vertically.
 * 3. Hide the overlay by default and show it when it is targeted or active.
 */
.#{$perfundo-namespace}__overlay {
  position: fixed; /* [1] */
  top: 0; /* [1] */
  right: 0; /* [1] */
  bottom: 0; /* [1] */
  left: 0; /* [1] */
  z-index: 1999;
  display: flex; /* [2] */
  visibility: hidden; /* [3] */
  justify-content: center; /* [2] */
  align-items: center; /* [2] */
  background-color: $perfundo-background-color;
  &:target,
  &.is-active {
    visibility: visible; /* [3] */
  }
}

/**
 * 1. Add a scrollbar if the content doesn't fit vertically.
 * 2. Inherit the animation name (e.g. animate.css class) from the parent.
 */
.#{$perfundo-namespace}__content {
  overflow: auto; /* [1] */
  max-height: 100%; /* [1] */
  :target > &,
  .is-active > & {
    animation: 0.4s ease-out 0.2s both;
    animation-name: inherit; /* [2] */
  }
}

.#{$perfundo-namespace}__html {
  padding: $perfundo-html-padding;
  max-width: $perfundo-html-max-width;
  background-color: $perfundo-html-background-color;
}

/**
 * 1. Prevent the full sized image from loading initially.
 * 2. Trigger loading of the full sized image when the lightbox is opened.
 */
.#{$perfundo-namespace}__figure {
  display: none; /* [1] */
  margin: 1.5em;
  :target > &,
  .is-active > & {
    display: block; /* [2] */
  }
  img {
    display: block;
    width: 100%;
  }
}

.#{$perfundo-namespace}__figcaption {
  color: $perfundo-color;
}

/**
 * 1. Make the image container responsive.
 * 2. Scale the background image to match the size of the image container.
 */
.#{$perfundo-namespace}__image {
  max-width: 100%; /* [1] */
  background-size: 100%; /* [2] */
}

/**
 * 1. Make the icons as big as the control element.
 * 2. Hide the control text visually, but have it available for screen readers.
 * 3. Make the control links readable depending on the overlay color.
 */
.#{$perfundo-namespace}__control {
  position: absolute;
  @if $perfundo-control-use-icons {
    width: 3em;
    height: 3em;
    background-position: center center; /* [1] */
    background-size: cover; /* [1] */
    text-indent: -999em; /* [2] */
  } @else {
    &,
    &:visited {
      color: $perfundo-color; /* [3] */
    }
  }
}

/**
 * 1. Vertically center the prev / next controls.
 */
.#{$perfundo-namespace}__prev,
.#{$perfundo-namespace}__next {
  top: 50%; /* [1] */
  margin-top: -1.5em; /* [1] */
  opacity: 0.2;
  transition: opacity 0.2s;
  @if $perfundo-control-use-icons {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2244.1%22%20height%3D%2294.7%22%20viewBox%3D%220%200%2044.1%2094.7%22%20enable-background%3D%22new%200%200%2044.088%2094.67%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M44.1%2047.3L1.5%2094.7%200%2093.3l41.4-46L0%201.3%201.5%200%2044.1%2047.3z%22%2F%3E%3C%2Fsvg%3E');
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
}

/**
 * 1. Rotate the control element so it is possible to use the same icon for
 *    prev and next.
 */
.#{$perfundo-namespace}__prev {
  left: 2em;
  @if $perfundo-control-use-icons {
    transform: rotate(180deg); /* [1] */
  }
}

.#{$perfundo-namespace}__next {
  right: 2em;
}

/**
 * 1. Move the untarget anchor to the top of the screen to prevent "jumping".
 */
.#{$perfundo-namespace}__untarget {
  position: fixed; /* [1] */
  top: 0; /* [1] */
}

/*
Image responsive blog
*/

.image-wrapper {
  max-width: 90%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
}

.image-wrapper img {
  max-width: 100% !important;
  height: auto;
  display: block;
  margin: auto;
}

#bloglink:hover {
  h4{
    color:#e91e63 !important;
  }
  
}