.container.container-large
	.row
		.col.l4.s12
			h5.white-text Links
			ul
				| {% if site.owner.github.show == true %}
				li(style='margin-bottom:5px;')
					a.grey-text.text-lighten-3(target='_blank', href='https://github.com/{{ site.owner.github.username }}')
						i.fa.fa-github.fa-lg.fa-fw
						|   Github Profile
				| {% endif %}
				| {% if site.owner.codepen.show == true %}
				li(style='margin-bottom:5px;')
					a.grey-text.text-lighten-3(target='_blank', href='http://codepen.io/{{ site.owner.codepen.username }}/')
						i.fa.fa-codepen.fa-lg.fa-fw
						|   Codepen
				| {% endif %}
				| {% if site.owner.gitlab.show == true %}
				li
					a.grey-text.text-lighten-3(target="_blank", href='https://gitlab.com/{{ site.owner.gitlab.username }}')
						i.fa.fa-gitlab.fa-lg.fa-fw
						|   Gitlab
				| {% endif %}
		.col.l6.offset-l2.s12.right-align
			h5.white-text {{ site.logo }}
			p.grey-text.text-lighten-4 {{ site.description }}
			p
				a#goup.white-text.bold(href='#') Go Up.
        
.footer-copyright.valign-wrapper
	.container.center-align
		p(style='line-height:1.5;')
			| Hyuwah © {{ site.time | date: '%Y' }} | Made with 
			i.fa.fa-heartbeat
			|  in Paris Van Java
