// portfolio item
| {% for portfolio in site.projects %}
.col.s12.m6.l4
  .card.hoverable
    .card-image.waves-effect.waves-block.waves-light
      h2.left-align.activator.card-title-top.tooltipped(data-position='top', data-delay='50', data-tooltip='Click to read more') {{ portfolio.title }}
      .valign-wrapper.card-img-wrap.hovereffect(style='background-image:url({{ portfolio.imgurl }});background-size:cover;background-position:center center;height:45vh;')
        // <img align="middle" src="{{ portfolio.imgurl }}" alt="{{ portfolio.title }}" style="width:auto;height:300px;">
        .overlay
          h2 {{ portfolio.title }}
          a.info(href='{{ portfolio.link }}', target='_blank') Go to project
    .card-content
      span.card-title.activator.brand-text.blue-text
        | Read more
        i.mdi-navigation-more-vert.right
      p {{ portfolio.category }}
    .card-reveal
      .rev-title-wrap
        span.card-title.activator.brand-text.blue-text
          i.mdi-navigation-close.blue-text.right
          | {{ portfolio.title }}
        p {{ portfolio.category }}
      p.rev-content
        | {{ portfolio.content }}
| {% endfor %}
// 
